{% extends "_layouts/admin.html" %}
{% block style %}

{% endblock %}
{% block admin %}

<div class="row">
   <div class="ibox">
        <div class="ibox-content">

        </div>
   </div>
</div>
              


{% endblock %}

{% block script %}
    <!-- Flot -->
    <script src="/public/js/_lib/flot/jquery.flot.js"></script>
    <script src="/public/js/_lib/flot/jquery.flot.tooltip.min.js"></script>
    <script src="/public/js/_lib/flot/jquery.flot.spline.js"></script>
    <script src="/public/js/_lib/flot/jquery.flot.resize.js"></script>
    <script src="/public/js/_lib/flot/jquery.flot.pie.js"></script>
    <script src="/public/js/_lib/flot/jquery.flot.symbol.js"></script>
    <script src="/public/js/_lib/flot/jquery.flot.time.js"></script>

    <script src="/public/js/_lib/jquery-ui/jquery-ui.min.js"></script>

    <!-- Jvectormap -->
    <script src="/public/js/_lib/jvectormap/jquery-jvectormap-2.0.2.min.js"></script>
    <script src="/public/js/_lib/jvectormap/jquery-jvectormap-world-mill-en.js"></script>

    <!-- EayPIE -->
    <script src="/public/js/_lib/easypiechart/jquery.easypiechart.js"></script>

    <!-- Sparkline -->
    <script src="/public/js/_lib/sparkline/jquery.sparkline.min.js"></script>
      <script>
      
      </script>


{% endblock %}

