{% extends "_layouts/admin.html" %}


{% block style %}
    <link href="/public/css/_lib/summernote/summernote.css" rel="stylesheet">
    <link href="/public/css/_lib/summernote/summernote-bs3.css" rel="stylesheet">
{% endblock%}


{% block admin %}
<div class="row"  id="app">
    <div class="ibox">
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-12">
                    <div class="col-sm-4">
                        <select v-model="topic.type" class="form-control" style="height:50px;">
                            <template v-for="(type, index) of types">
                                <option :value="type.id" v-html="type.content">
                                </option>
                            </template>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <div class="col-sm-12">
                        <textarea placeholder="请输入标题" v-model="topic.title" maxlength="12" style="font-size:30px; resize:none;" rows="1" class="form-control m-b-md">
                        </textarea>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <div class="col-sm-12">
                        <div class="summernote">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="ibox">
        <div class="ibox-content">
            <button type="button" @click="save" class="btn btn-primary btn-xs">保存</button>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="/public/js/_lib/summernote/summernote.min.js"></script>
<script src="/public/js/topic/create.js"></script>
{% endblock %}
