{% extends "_layouts/admin.html" %}
{% block style %}
    <link href="/public/css/_lib/summernote/summernote.css" rel="stylesheet">
    <link href="/public/css/_lib/summernote/summernote-bs3.css" rel="stylesheet">
<style type="text/css">
    [v-cloak] {
        display: none;
    }

    .col-lg-4 img {
        max-width: 100%;
    }

    .topic-content img {
        max-width: 100% !important;
    }

    .editable {
        float: none !important;
        background: #f6f6f6;
        border: 1px solid #ebebeb;
    }

    fieldset {
        border: 1px solid #eeeeee !important;
        margin: 0 2px !important;
        padding: 0.35em 0.625em 0.75em !important;
    }

    fieldset legend {
        border-bottom: transparent;
        text-align: center;
        width: auto;
    }

    .note-editor.note-frame {
        border: 1px solid #eeeeee !important;
    }

    .avatar-img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }
</style>
{% endblock %} 
{% block admin %}
 {% include "../vue_components/pagination.html" %}

<div class="row" id="app" v-cloak>
    <div class="col-lg-12">
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="ibox-content forum-post-container">
                <div class="forum-post-info">
                    <h4><span class="text-navy"><i class="fa fa-globe"></i> ${forum.title}</span>&nbsp; <span class="text-muted">${forum.category}</span></h4>
                    <span>${forum.description}</span>
                </div>
                <template v-for="(topic, index) of topics">
                        <div @mouseover="mouseover(topic._id)" @mouseout="mouseout(topic._id)" :class="['forum-item', hover[topic._id] ? 'active': '']">
                                <div class="row">
                                    <div class="col-md-9">
                                        <div class="forum-icon">
                                            <img class="avatar-img" :src="topic.avatar | formatAvatar">
                                        </div>
                                        <a :href="'/forums/'+ forum_id + '/topic/'+ topic._id" class="forum-item-title">${topic.title}</a>
                                        <div class="forum-sub-title">
                                            ${topic.author_user} ${topic.create_at | formatTimeNow}
                                            <a @click="removeTopic(index,topic._id)" v-if="username === topic.author_user" class="btn btn-xs text-danger"><i style="color:#999;"  class="fa fa-trash"></i></a>
                                        </div>
                                    </div>
                                    <div class="col-md-1 forum-info">
                                        <span class="views-number">
                                            ${topic.visit_count || 0}
                                        </span>
                                        <div>
                                            <small>浏览</small>
                                        </div>
                                    </div>
                                    <div class="col-md-1 forum-info">
                                        <span class="views-number">
                                            ${topic.post_count || 0}
                                        </span>
                                        <div>
                                            <small>帖子</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                </template>
            </div>
            <pagination-component previous="上一页" next="下一页" @renderdata="renderData" :size="topicSize" :link="topicsUrl"  />
        </div>
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="ibox-content">
                <fieldset class="fieldset">
                    <legend>新建主题</legend>
                    <form role="form" class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="col-sm-12">
                                    <input type="text" placeholder="输入标题" v-model="topic.title" maxlength="50" class="form-control m-b-md" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="col-sm-12">
                                    <div id="topic_summernote" class="summernote">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="button" @click="createTopic" class="btn btn-primary btn-xs m-l-md">保存</button>
                    </form>
                </fieldset>
            </div>
        </div>
    </div>
</div>

{% endblock %} 
{% block script %}
    <script src="/public/js/_lib/summernote/summernote.min.js"></script>
    <script src="/public/js/_lib/summernote/summernote-zh-CN.js"></script>
    <script type="text/javascript">
        var $forum_id = '{{ forum_id }}';
        var $user_name = '{{ user_name}}';
    </script>
    <script src="/public/js/forum/topic.js"></script>
{% endblock %}