{% extends "_layouts/admin.html" %}
{% block style %}
  <style type="text/css">
    [v-cloak] { display: none; }
</style>
{% endblock %}
{% block admin %}
 <div class="row animated fadeInRight" id="profile" v-cloak>
    <div class="col-md-4">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Profile Detail</h5>
            </div>
            <div>
                <div class="ibox-content no-padding border-left-right">
                    <img alt="image" class="img-responsive" src="/public/img/profile_big.jpg">
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
    <script type="text/javascript" src="/public/js/_lib/jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/public/js/_lib/jquery-ui/jquery.ui.widget.js"></script>
    <script type="text/javascript" src="/public/js/_lib/fileupload/jquery.fileupload.js"></script>
    <script type="text/javascript" src="/public/js/user/profile.js"></script>
{% endblock  %}