<style>
</style>
<script type="text/x-template" id="id-pagination">
    <div class="col-lg-12">
            <ul class="pagination">
                <template>
                </template>
                <li><a href="#">&laquo;</a></li>
                <li class="active"><a href="#">1</a></li>
                <li class="disabled"><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">&raquo;</a></li>
            </ul>
        </div>
</script>

<script>
    Vue.component('pagination-component', {
        name: 'pagination-component',
        template: '#id-pagination',
        props: [
            'link'
        ],
        data() {
            return {}
        },
        mounted() {
            this.fetch();
        },
        methods: {
            pager() {

            },
            popToParent(data) {
                this.$emit('renderedData', data);
            },
            fetch() {
                var self = this;
                $.get(this.link, function (result) {
                    var data = result.data;
                    self.popToParent(data);
                })
            }
        },
        filters: {

        }
    })
</script>